@import url(https://fonts.googleapis.com/css?family=Poiret+One);
h1 {
  color:#900C3F;
  text-align: center;
  font-family:'Poiret One', cursive;
  font-size: 100px;
  font-weight: 100px;
}

h2 {
  color:#900C3F;
  text-align: center;
  font-family:'Poiret One', cursive;
  font-size: 30px;
  font-weight: 200px;
}

h3 {
  color:#900C3F;
  text-align: center;
  font-family:'Poiret One', cursive;
  font-size: 50px;
  font-weight: 200px;
}


p {
  color:#900C3F;
  text-align: center;
  font-family:'Poiret One', cursive;
  font-size: 35px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#content {
    float: right ;
    width: 75% ;
}
#navbar {
    float: right;
    width: 25%;
    font-size: 100px;
}

.button {
    background-color: #900C3F;
    border: none;
    font-family:'Poiret One', cursive;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
